<html lang="en">

   <%- include header %>



<div class="container col-sm-12" id="mainform">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Month</th>
        <th>Maintainence</th>
        <th>Raw material cost</th>
        <th>Electricity</th>
    </tr>
    </thead>
    <tbody>
    <% for(var i=0; i < result.length; i++) { %>
       <tr>
         <td><%= result[i].month %></td>
         <td><%= result[i].maintainence %></td>
         <td><%= result[i].raw_material_cost %></td>
         <td><%= result[i].electricity %></td>



         <td><a id= "<%= result[i].stat_id %>" href="/home/delete_credentials?id= <%= result[i].stat_id %>" >Delete</a></td>
       </tr>
    <% } %>
  </tbody>
</table>



        <div id="signupbox" style=" margin-top:50px" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">

                <div class="panel panel-info">
                    <div class="panel-heading">
                        <div class="panel-title">Add Credentials</div>
                    </div>
                    <div class="panel-body" >
                        <form class="form-horizontal" role="form" method="post" action="/home/credentials" onSubmit="return checkblank(this);">

                            <div class="form-group">
                                <label for="first_name" class="col-md-3 control-label">Month</label>
                                <div class="col-md-9">
                                    <input type="month" class="form-control" name="month" placeholder="Enter the month">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="last_name" class="col-md-3 control-label">Maintainence</label>
                                <div class="col-md-9">
                                    <input type="number" step=0.01 class="form-control" name="maintainence" placeholder="Maintainence">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="last_name" class="col-md-3 control-label">Raw Material Cost</label>
                                <div class="col-md-9">
                                    <input type="number"  step=0.01 class="form-control" name="raw_material_cost" placeholder="Raw Material Cost">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="last_name" class="col-md-3 control-label">Electricity</label>
                                <div class="col-md-9">
                                    <input type="number" step=0.01 class="form-control" name="electricity" placeholder="Electricity">
                                </div>
                            </div>

                            <div class="form-group">
                                <!-- Button -->
                                <div class="col-md-offset-3 col-md-9">
                                    <button id="btn-signup" type="submit" class="btn btn-info"><i class="icon-hand-right"></i> &nbsp Add</button>

                                </div>
                            </div>




                        </form>
                     </div>
                </div>


     </div>
</div>

    <%- include footer %>
