<html lang="en">

   <%- include header %>



<div class="container col-sm-12" id="mainform">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Customer name</th>

        <th>Month</th>
        <th>transportation cost</th>
        <th>Bill amount</th>

      </tr>
    </thead>
    <tbody>
    <% for(var i=0; i < result.length; i++) { %>
       <tr>
         <td><%= result[i].customer_name %></td>

         <td><%= result[i].month %></td>
         <td><%= result[i].transportation_cost %></td>
         <td><%= result[i].bill_amount %></td>
         <td><a id= "<%= result[i].customer_id %>" href="/home/delete_customer?id= <%= result[i].customer_id %>" >Delete</a></td>


       </tr>
    <% } %>
  </tbody>
</table>

        <div id="signupbox" style=" margin-top:50px" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">

                <div class="panel panel-info">
                    <div class="panel-heading">
                        <div class="panel-title">Add Customers</div>
                    </div>
                    <div class="panel-body" >
                        <form class="form-horizontal" role="form" method="post" action="/home/customers" onSubmit="return checkblank(this);">

                            <div class="form-group">
                                <label for="first_name" class="col-md-3 control-label">Customer name</label>
                                <div class="col-md-9">
                                    <input type="text" class="form-control" name="customer_name" placeholder="Name of the customer">
                                </div>
                            </div>
                            <div id="checkboxes" class="form-group">
                              <h2 style="padding-left:100;padding-bottom:10 ;">Products</h2>
                              <% for(var i=0; i < prod_result.length; i++) { %>

                                <label for="last_name" class="col-md-3 control-label"><%= prod_result[i].product_name %></label>

                                <div class="col-md-9">
                                    <input type="number"  step=0.01 class="form-control" name="<%= prod_result[i].product_id %>" placeholder="Quantity of the product">
                                </div>
                              <% } %>
                            </div>


                            <div class="form-group">
                                <label for="last_name" class="col-md-3 control-label">Month</label>
                                <div class="col-md-9">
                                    <input type="date" class="form-control" name="month" placeholder="Month">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="last_name" class="col-md-3 control-label">Transportation cost</label>
                                <div class="col-md-9">
                                    <input type="number" step=0.01 class="form-control" name="transportation_cost" placeholder="Transportation cost">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="last_name" class="col-md-3 control-label">Bill Amount</label>
                                <div class="col-md-9">
                                    <input type="number" step=0.01 class="form-control" name="bill_amount" placeholder="Bill amount">
                                </div>
                            </div>


                            <div class="form-group">
                                <!-- Button -->
                                <div class="col-md-offset-3 col-md-9">
                                    <button type="submit" id="btn-signup" class="btn btn-info"><i class="icon-hand-right"></i> &nbsp Add</button>

                                </div>
                            </div>




                        </form>
                     </div>
                </div>


     </div>
</div>
<script>
/*
var c =document.getElementsByTagName("INPUT");
var check,text;
for(i=0;i<c.length;i++)
{
  text = c[i].id;
  if(text.charAt(0)=='t')
  {
    check = text.substring(4,text.length);
    check="check"+check;
    console.log("check="+check);
    //console.log("text="+text);
    console.log(document.getElementById(check));
    var te = text;
    //console.log("te="+te);
    document.getElementById(check).onchange = function() {
      console.log("text="+window.te);
        document.getElementById(window.te).disabled = !document.getElementById(check).checked;
    };
  }

}
//console.log("c="+c);
/*var d;
for(i=0;i<c.length;i++)
{
  console.log(c[i].nodeName);
  if(c[i].nodeName=="LABEL")
  {
    console.log("yes");
    d=document.c[i].childNodes;

    for(j=0;j<d.length;j++)
    console.log(d[j].nodeName);
  }
}

document.getElementById('1').onchange = function() {
    document.getElementById('2').disabled = !this.checked;
};*/
</script>

    <%- include footer %>
